body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: #fae1dd;
}
.container {
    position: relative;
}
.valentines {
    position: absolute;
    top: 50;
    cursor: pointer;
}
.envelope {
    position: relative;
    width: 300px;
    height: 200px;
    background: #f08080;
    display: grid;
    place-items: center;
}
.envelope::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 100px solid #f08080;
}