body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: #fae1dd;
}
.container {
    position: relative;
}
.valentines {
    position: absolute;
    top: 50;
    cursor: pointer;
}
.envelope {}